.workflows-wrapper {
        .custom-checkbox{ margin: 0;
        position: relative;
    }
    .more-link-box {
        overflow: hidden;
        margin-bottom: 5px;
        position: fixed;
        width: 80%;
        bottom: 0;
    }
    .top-icon-set a {
        float: left;
    }
}