.role-management-wrapper {
    .report-responsive { 
        padding-bottom: 10px !important;
    }
    .panel-group {
        .panel-heading {
            height: 50px;
        }
        .panel-body {
            padding: 0 15px;
        }
    }
    .panel-title {
        margin-top: 5px;
    }
    .header-row .cell {
        height: 39px;
    }
    .pb-60{
        padding-bottom: 60px !important;
    }
}