<div data-ng-form="document.medicalInfoForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 margin-top15px">
                <form>
                    
                    <div class="col-md-6 padding-0">
                        <div class="col-md-12 margin-top10px padding-0">
                            <div class="col-md-6">

                                <label>Physician Name</label>
                                <input type="text" data-ng-model="document.newMedicalInfo.physicianid"
                                    data-ng-model-options="{ debounce: 500 }"
                                    placeholder="Enter physician name"
                                    typeahead="row as row.name for row in document.getContacts($viewValue,'medicalinfo')"
                                    typeahead-input-formatter="document.formatTypeaheadDisplayPartials($model)"
                                    typeahead-loading="document.display.loadingPhysicianId"
                                    class="form-control">
                            </div>
                            <div class="add-now-wrap">
                                <span class="or-connector">OR</span>
                                <button class="btn btn-default"
                                    data-ng-click="document.addNewContact(document.newMedicalInfo,'physicianid')">
                                    Add New
                                </button>

                            </div>
                        </div>
                        <div class="col-md-12 margin-top10px padding-0">
                        <div class=" col-md-6">

                            <label>Service Provider</label>
                            <input type="text" data-ng-model="document.newMedicalInfo.providerid"
                                data-ng-model-options="{ debounce: 500 }"
                                placeholder="Enter service provider name"
                                typeahead="row as row.name for row in document.getContacts($viewValue,'medicalinfo')"
                                typeahead-input-formatter="document.formatTypeaheadDisplayPartials($model)"
                                typeahead-loading="document.display.loadingProviderId"
                                class="form-control">
                        </div>
                        <div class="add-now-wrap">
                            <span class="or-connector">OR</span>
                            <button class="btn btn-default"
                                data-ng-click="document.addNewContact(document.newMedicalInfo,'providerid')">
                                Add New
                            </button>

                        </div>
                    </div>
                        <div class="margin-top10px col-md-12 padding-0">
                        <div class="col-md-6">
                            <label>Start Date of Service</label>
                            <p class="input-group datepicker margin0">
                                <input type="text"
                                    name="servicestartdate"
                                    data-ng-model="document.newMedicalInfo.servicestartdate"
                                    max-date="document.newMedicalInfo.serviceenddate"
                                    datepicker-popup="MM/dd/yyyy"
                                    is-open="document.openStartDatePicker"
                                    id="docmedstartDatediv"
                                    data-ng-disabled="false"   
                                    validate-date error-div="#docmedstartDatediv"       
                                    tooltip="mm/dd/yyyy"
                                    placeholder="mm/dd/yyyy"   
                                    class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-ng-click="document.openDatePicker($event,'openStartDatePicker');document.openStartDatePicker=true;">
                                        <i class="default-calendar-small sprite"></i>
                                    </button>
                                </span>
                            </p>
                            <div class="error" id="docmedstartDateErr" style="float: none;">Invalid date format!</div>
                            <span
                                data-ng-show="document.showErrorMsgForDates(document.newMedicalInfo.servicestartdate,
                                document.newMedicalInfo.serviceenddate)"
                                class="error">Start date cannot be greater than end date.

                            </span>
                        </div>
                        <div class="col-md-6 padding-0">
                            <label>End Date of Service</label>
                            <p class="input-group datepicker margin0">

                                <input
                                    type="text"
                                    name="servicestartdate"
                                    min-date="document.newMedicalInfo.servicestartdate"
                                    data-ng-model="document.newMedicalInfo.serviceenddate"
                                    datepicker-popup="MM/dd/yyyy"
                                    is-open="document.openEndDatePicker"
                                    id="docmedendDatediv"
                                    data-ng-disabled="false"   
                                    validate-date error-div="#docmedendDatediv"       
                                    tooltip="mm/dd/yyyy"
                                    placeholder="mm/dd/yyyy"    
                                    class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-ng-click="document.openDatePicker($event,'openEndDatePicker')">
                                        <i class="default-calendar-small sprite"></i>
                                    </button>
                                </span>
                            </p>
                            <div style="float: none;" class="error" id="docmedendDateErr">Invalid date format!</div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top10px">
                        <label>Treatment Type</label>
                        <input type="text"
                            class="form-control"
                            data-ng-model="document.newMedicalInfo.treatmenttype"
                            placeholder="Enter treatment type" data-ng-maxlength="50" maxlength="50"/>  <!--Bug#7320-->
                    </div> 
                    </div>
                    <div class="col-md-6 padding-0">
                        <div class="col-md-12 margin-top10px">
                            <label>Memo</label>
                            <textarea  class="form-control" placeholder="Add Memo..." ng-model="document.newMedicalInfo.memo" maxlength="1024" rows="5"></textarea>
                        </div>
                    </div>
                    
                    
                    

                    
                </form>
            </div>
        </div>
    </div>
</div>



