<div class="global-task-container">
    <div class="row" data-ng-if="globalTasks.display.page ==='taskList' || globalTasks.display.page ==='filter'">
        <div class="pull-right margin-top10px margin-right30px">
            <a class="paddingLR-10px" data-ng-if="globalTasks.display.page ==='filter'" data-ng-click="globalTasks.pageReset()"
                href="javascript:void(0)">Reset
            </a>
            <a class="paddingLR-10px" data-ng-if="globalTasks.display.page ==='taskList'" data-ng-click="globalTasks.init_first()"
                href="javascript:void(0)">Reset
            </a>
            <a class="paddingLR-10px" data-ng-if="globalTasks.display.page ==='taskList' || globalTasks.display.page ==='filter'"
                data-ng-click="sideNav.closeDrawer()" href="javascript:void(0)">Close
            </a>
        </div>
    </div>
    <div class="content-class-popup event-model-height">
        <div data-ng-if="globalTasks.display.page==='taskList' || globalTasks.display.page==='filter'">
            <clx-filter-options centered on-filter-select="globalTasks.getFilteredTasks" selected-filter="globalTasks.filters.tab"
                fiter-opts="globalTasks.taskFilters"></clx-filter-options>
    
            <div class="row gridSec margin0 page-title-border" data-ng-show="globalTasks.display.dataReceived">
                <div class="col-md-12 paddingRLR" >
                    <div class="col-md-4 pull-left paddingRLR dropdown create">
                        <a>
                            <span data-ng-click="globalTasks.addTask();" data-ng-if="(globalTasks.isGraceOver != 0) && globalTasks.taskPermissions[0].A == 1"
                                class="sprite default-plus" tooltip="Add"></span>
                        </a>
                    </div>
    
                    <div class="col-md-6 pull-right paddingRLR clearfix">
                        <ul class="showBy-btns pull-right">
                            <li>
                                <a>
                                    <span data-ng-click="globalTasks.openFilterPage();" class="sprite default-filter"
                                        tooltip="Filter"></span>
                                </a>
                            </li>
                        </ul>
    
                        <ul class="pull-right">
                            <li>
                                <div class="search-input">
                                    <div class="default-searchico sprite" tooltip="Search"></div>
                                    <input type="text" data-ng-model="globalTasks.taskFilterText" data-ng-change="globalTasks.filterTask(globalTasks.taskFilterText); globalTasks.filterRetain();"
                                        class="form-control">
                                </div>
                            </li>
                        </ul>
                        <div class="pull-right">
                            <div class="dropdown">
                                <span class="sortby-align">Sort By:</span>
                                <button id="dLabel" type="button" class="btn sortby-dropdown dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{globalTasks.getSortByLabel(globalTasks.sortby)}}
                                    <span class="default-downward-arrow sprite dropdown-arrow"></span>
                                </button>
                                <ul class="dropdown-menu custom-sort-dropdown" role="menu" aria-labelledby="dLabel">
                                    <li data-ng-repeat-start="sort in globalTasks.sorts" data-ng-class="{' active': globalTasks.sortby == sort.key}">
                                        <a data-ng-click="globalTasks.applySortByFilter(sort.key)">{{sort.name}}</a>
                                    </li>
                                    <li data-ng-show="!$last" data-ng-repeat-end class="divider"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix "></div>
                    <div class="pull-right" data-ng-show=" globalTasks.display.page !=='filter'">
                        <clx-filter-tags on-filter-cancel="globalTasks.tagCancelled" tag-list="globalTasks.tags"></clx-filter-tags>
                    </div>
                </div>
            </div>
    
            <clx-date-slider data-ng-if="globalTasks.filters.tab === 'cu' && !(globalTasks.display.page==='filter') "
                refresh-count="globalTasks.display.refreshCount" get-data="globalTasks.getTasksByDate" selected-date="globalTasks.filters.taskdate"
                get-events-count="globalTasks.getTasksCount"></clx-date-slider>
    
            <div class="row" data-ng-show="globalTasks.display.dataReceived &&  !(globalTasks.display.page==='filter')">
                <div class="paddingRLR">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div id="main-event" class="static-new-scrollbar" ng-class="{'over-height': globalTasks.filters.tab == 'ov', 'current-height': globalTasks.filters.tab == 'cu','co-height': globalTasks.filters.tab == 'co'}">
                                <div class="list-progress new-list-progress list list-custum-width">
                                    <ul>
                                        <li class="row" data-ng-click="globalTasks.selectTask(data)" data-ng-class="{'selected-task':globalTasks.selectedTask.task_id === data.task_id}"
                                            data-ng-repeat="data in globalTasks.taskList">
                                            <div class="list-item-wrapper">
                                                <div class="col-lg-2 col-md-3 circle-position">
                                                    <div class="circle-small text-center">
                                                        <span>{{data.priority|priorityFilter}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 list-item-height">
                                                    <span>{{data.task_name}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <progress class="progress-bar-divider">
                                                    <bar ng-repeat="progress in data.completed track by $index" value="progress.value"
                                                        type="{{progress.type}}">
                                                    </bar>
                                                </progress>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 detail-event-global view-only-fields" data-ng-if="globalTasks.taskList.length > 0">
                            <div class="row-fluid">
                                <div class="search-overlap">
                                    <ul class="showBy-btns pull-right absolute-container right0">
                                        <li>
                                            <a href="javascript:void(0)" data-ng-click="globalTasks.editTask(globalTasks.selectedTask.task_id)"
                                                data-ng-if="(globalTasks.isGraceOver != 0) && globalTasks.taskPermissions[0].E == 1">
                                                <span class="sprite default-edit " tooltip="Edit"></span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-ng-click="globalTasks.deleteTask(globalTasks.selectedTask.task_id)"
                                                data-ng-if="(globalTasks.isGraceOver != 0) && globalTasks.taskPermissions[0].D == 1">
                                                <span class="sprite default-delete " tooltip="Delete"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="col-md-3 ">Task Name:</div>
                                <div class="col-md-6 value"><strong>{{globalTasks.selectedTask.task_name}}</strong></div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Matter Name:</div>
                                <div class="col-md-8 value">
                                    <span>
                                        <a href="javascript:void(0)" tooltip="{{globalTasks.selectedTask.matter.matter_name}}"
                                            tooltip-append-to-body="true" tooltip-placement="top-center" data-ng-click="globalTasks.goToMatter(globalTasks.selectedTask.matter.matter_id)">{{globalTasks.selectedTask.matter.matter_name}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Assigned To:</div>
                                <div class="col-md-8 value">
                                    <strong data-ng-show="globalTasks.selectedTask.is_other == '1'">{{globalTasks.fullname}}</strong>
                                    <strong data-ng-show="globalTasks.selectedTask.is_other == '0'">{{globalTasks.fullname}}</strong>
                                </div>
    
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Description:</div>
                                <div class="col-md-8 dashboard-tasks-due padding-0 description-box">
                                    <p ng-if="globalTasks.selectedTask.task_name !=  'Document Review'" class="global-selected-task">{{globalTasks.selectedTask.notes}}</p>
                                    <span ng-show="(globalTasks.selectedTask.task_name =='Document Review')" ng-bind-html=" globalTasks.taskDescription"></span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Assigned on:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.assignment_date}}</strong>
                                </div>
                            </div>
                            <!--US#4813 Assigned By Field added ...start -->
                            <div class="row-fluid">
                                <div class="col-md-3 ">Assigned By:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.assigned_by.first_name}}
                                        {{globalTasks.selectedTask.assigned_by.last_name}} </strong>
                                </div>
                            </div>
                            <!--...End-->
                            <div class="row-fluid">
                                <div class="col-md-3 ">Due Date:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.due_date }}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Priority:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.priority}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Status:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.status}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">Percentage Complete:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.percentage_complete}} %</strong>
                                </div>
                            </div>
                            <div class="row-fluid padding-bottom-5px">
                                <div class="col-md-3 ">Reminder Days Prior to Due Date:</div>
                                <div class="col-md-9 add-event-popup padding-0">
                                    <div class="col-md-1 checkbox padding-0 margin0" data-ng-repeat="reminder_days in globalTasks.reminderDaysList">
                                        <input type="checkbox" data-ng-disabled="true" checklist-value="reminder_days"
                                            checklist-model="globalTasks.selectedTask.reminder_days" /><label>{{reminder_days
                                            | replaceTextTask}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" ng-if="globalTasks.selectedTask.custom_reminder">
                                <div class="col-md-3 ">And/Or Custom Date Reminder:</div>
                                <div class="col-md-8 value">
                                    <strong>{{globalTasks.selectedTask.custom_reminder |utcImpDateFilter: 'MM-DD-YYYY'}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 ">
                                    Remind Users:
                                </div>
                                <div class="col-md-9 padding-0">
                                    <div ng-repeat="user in globalTasks.userSelectedType" class="pull-left margin-right20px padding-0">
                                        <div class="radio padding-0 mt-0">
                                            <input class="ml-0" type="radio" data-ng-model="globalTasks.userSelectedMode"
                                                ng-click="globalTasks.setUserMode(user)" ng-value="user.id" ng-disabled="true" />
                                            <label class="custom-line-height">{{user.name}}</label>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="row-fluid" ng-if="(globalTasks.userSelectedMode == '3')">
                                <div class="col-md-3 ">
                                </div>
                                <div class="col-md-9 padding-0 remind-box">
                                    <ui-select multiple ng-model="globalTasks.selectedTask.remind_users_temp" theme="select2"
                                        class="width100" ng-disabled="true">
                                        <ui-select-match placeholder="Enter User">
                                            {{$item.full_name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="user.user_id as user in globalTasks.remindUserList | filter:{full_name:$select.search} | orderBy: 'full_name'">
                                            <small>
                                                {{user.full_name}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <!--         US#12912- Task history grid start    -->
    
                            <div class="row-fluid">
                                <div class="col-md-3 ">Task History:</div>
    
                                <div class="task-event-reminders">
                                    <div class="fl-right"><a data-ng-click="globalTasks.exportTaskHistory()"><span class="sprite default-sharedown sortby-icons" tooltip="Export History" tooltip-placement="left"></span></a></div>        
                                    <div class="margin-top20px clear-both">&nbsp;</div>
    
    
                                    <div class="event-table-scrollable-grid">
                                        <table class="event-table-grid">
                                            <thead class="grey-bg">
                                                <tr>
                                                    <th class="th-width-19">Last Updated</th>
                                                    <th class="th-width-19">Due date</th>
                                                    <th class="th-width-23">Reason</th>
                                                    <th class="th-width-23">Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody class="dashboard-tasks-due table">
                                                <tr data-ng-repeat="tasklist in globalTasks.taskHistoryData">
                                                    <td class="th-width-19">
                                                        {{tasklist.modified_date | utcDateFilter: 'MM/DD/YYYY'}}
                                                        <br> {{tasklist.modified_date | utcDateFilter: 'hh:mm A'}}
                                                    </td>
                                                    <td class="th-width-19">
                                                        {{tasklist.due_date |  utcImpDateFilter:'MM/DD/YYYY'}}
                                                    
                                                    </td>
                                                    <td class="th-width-23">{{tasklist.reason}}</td>
                                                    <td class="cell word-wrap th-width-23">
                                                        {{tasklist.comments}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                      
                                    <div class="text-center margin-top10px clear-both" data-ng-show="globalTasks.taskHistoryData.length == 0">
                                        <p>No task history found...</p>
                                    </div>
    
    
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div data-ng-if="globalTasks.display.page==='addTask'">
            <div data-ng-include="'app/tasks/add-task/add-task.html'" data-ng-controller="AddTaskCtrl as addTask"></div>
        </div>
    
        <div data-ng-show="globalTasks.display.page==='filter'">
            <div data-ng-include="'app/tasks/global-tasks/task-filters.html'"></div>
        </div>
    </div>
</div>