<div class="marketplace-details-main row-m-0">
    <div class="ng-scope row">
        <div class="container col-md-12 main-top">
            <div class="pull-left back-btn-block">
                <a href="#/marketplace" data-ng-click="applicationCtrl.clearStorage()" class="marketplace-back-btn"></a>
            </div>
            <div class="pull-left left-img">
                <img src="styles/images/marketplace-images/icon/digital-archival.png">
            </div>
            <div class="col-md-7 marketplace-details-block border-right">
                <div class="title">Digital Archiver</div>
                <div class="text col-md-10 padding-0">Switch to Digital Archiver of your closed cases (in lieu of physical storage) and free up the space and resources needed to grow your practice. Digitally archive all data related to your closed matters (even digital correspondence) for a period of 7 years on a secure and easily searchable platform.</div>
                  
            </div>
            <div class="col-md-2 padding-right-0 marketplace-details-block">
                <div class="text clear-both">
                    
                    <div class="margin-top30px">
                        <button class="btn btn-default"
                         ng-disabled="applicationCtrl.isDigitalArchival.permission.E==0 || (applicationCtrl.dissableSubscribe)" ng-if="applicationCtrl.isDigitalArchival.is_active==0" ng-click="applicationCtrl.save(applicationCtrl.isDigitalArchival, 'DA')">SUBSCRIBE</button>
                        <button class="btn btn-default" ng-if="applicationCtrl.isDigitalArchival.is_active==1" disabled="disabled">SUBSCRIBED</button>
                    </div>
                </div>  
                
            </div>
            <div class="">
                
            </div>
            
        </div>
    </div>
    <div id="report-content">
        <div class="marketplace-details-vedeo-block col-md-9 col-centered">
            <carousel interval="applicationCtrl.myInterval">
                <slide ng-repeat="slide in applicationCtrl.slides" active="slide.active">
                    <img class="fiex-height-img" ng-src="{{slide.image}}">
                    <span class="slide-txt" ng-bind-html="slide.text"></span>
                    <div class="carousel-caption">
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>



<footer position-center>
    <ul>
        <li>
            <a href="#/marketplace" class="active-footer">Applications</a>
        </li>
        <li>
            <a href="#/marketplace/services">Services</a>
        </li>
        <!-- <li>
            <a href="#/marketplace/upcoming">Upcoming</a>
        </li> -->

    </ul>
</footer>
