<div class="marketplace-details-main row-m-0">
    <div class="ng-scope row">
        <div class="container col-md-12 main-top">
            <div class="pull-left back-btn-block">
                <a href="#/marketplace" data-ng-click="applicationCtrl.clearStorage()" class="marketplace-back-btn"></a>
            </div>
            <div class="pull-left left-img">
                <img class="small-imga" src="styles/images/marketplace-images/icon/integrations.svg?v=15">
            </div>
            <div class="col-md-7 marketplace-details-block border-right">
                <div class="title">App Integrator</div>
                <div class="text col-md-10 padding-0">Seamlessly integrate CloudLex with leading productivity apps like iCal, Google Calendar, OneDrive, Google Drive, MS Exchange, Dropbox and more, so that your updates are easily synced without leaving CloudLex—a huge time-saver for your firm! Download <b>'CloudLex Calendar'</b> Chrome Extension from Chrome Web Store to enable two-way sync between your Google Calendar and CloudLex.</div>
            </div>
            <div class="col-md-2 padding-right-0 marketplace-details-block">
                <div class="text clear-both">
                     <div class="margin-top30px">
                        <button class="btn btn-default" ng-disabled="applicationCtrl.isIntegratingTools.permission.E==0 || (applicationCtrl.dissableSubscribe)" 
                        ng-if="applicationCtrl.isIntegratingTools.is_active==0" ng-click="applicationCtrl.subIntegratingTools(applicationCtrl.isIntegratingTools)">SUBSCRIBE</button>
                        <button class="btn btn-default" ng-if="applicationCtrl.isIntegratingTools.is_active==1" disabled="disabled">SUBSCRIBED</button>
                    </div>
                </div>
               
            </div>
            <div class="">
               
            </div>
        </div>
    </div>
    <div id="report-content">
        <div class="marketplace-details-vedeo-block col-md-9 col-centered">
            <carousel interval="applicationCtrl.myInterval">
                <slide ng-repeat="slide in applicationCtrl.slides" active="slide.active">
                    <img class="fiex-height-img" ng-src="{{slide.image}}">
                    <span class="slide-txt" ng-bind-html="slide.text"></span>
                    <div class="carousel-caption">
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>



<footer position-center delayRender='true'> 
    <ul>
        <li>
            <a href="#/marketplace" class="active-footer">Applications</a>
        </li>
        <li>
            <a href="#/marketplace/services">Services</a>
        </li>
        <!-- <li>
            <a href="#/marketplace/upcoming">Upcoming</a>
        </li> -->

    </ul>
</footer>