<!-- layout d64 start -->
<div class="row" ng-form="plaintiffform">
    <div class="row">
        <div class="col-md-12">
            <!-- Start: Caption Documents Dropdown 1-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId"
                    label="Select Caption 1" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 1-->

            <!-- Start: Caption Documents Dropdown 2-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption1">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId1"
                    label="Select Caption 2" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 2-->

            <!-- Start: Caption Documents Dropdown 3-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption2">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId2"
                    label="Select Caption 3" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 3-->

            <!-- Start: Caption Documents Dropdown 4-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption3">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId3"
                    label="Select Caption 4" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 4-->

            <!-- Start: Caption Documents Dropdown 5-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption4">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId4"
                    label="Select Caption 5" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 5-->

            <!-- Start: Caption Documents Dropdown 6-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption5">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId5"
                    label="Select Caption 6" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 6-->

            <!-- Start: Caption Documents Dropdown 7-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption6">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId6"
                    label="Select Caption 7" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 7-->

            <!-- Start: Caption Documents Dropdown 8-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption7">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId7"
                    label="Select Caption 8" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 8-->

            <!-- Start: Caption Documents Dropdown 9-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption8">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId8"
                    label="Select Caption 9" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 9-->

            <!-- Start: Caption Documents Dropdown 10-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.document_caption9">
                <clx-select list="GenerateTemplateCtrl.captionDocumentList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="captionDocumentId9"
                    label="Select Caption 10" placeholder="Select document..." validation="No Documents found..." ngexpression="item.documentid"
                    ngfilter=" | filter:{documentname:$select.search}" selectedviewproperty='<small> {{$select.selected.documentname}}</small>'
                    dropdownviewproperty='<small> {{item.documentname}} </small>'>
                </clx-select>
            </div>
            <!-- End: Caption Documents Dropdown 10-->

            <!-- Start: Plaintiff Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.plaintiffs">
                <clx-select list="GenerateTemplateCtrl.plaintiff_dropdown" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="plaintiffs"
                    label="Select Plaintiff" placeholder="Select plaintiff..." validation="No plaintiff found..." ngexpression="item"
                    ngfilter=" | filter:{name:$select.search} | orderBy: 'name'" selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Plaintiff Dropdown -->

            <!-- Start: Attorney Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.smpAttorney">
                <clx-select list="GenerateTemplateCtrl.allAttorneysList" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leadattorneyid"
                    label="Select Attorney" placeholder="Select attorney..." validation="No attorneys found..." ngexpression="item.uid"
                    ngfilter=" | filter:{contact_name:$select.search}" selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    groupby="GenerateTemplateCtrl.groupAllAttorneys" groupfilter="GenerateTemplateCtrl.attorneyTypes" dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Attorney Dropdown -->

            <!-- Start: defendant Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.defendant">
                <clx-select list="GenerateTemplateCtrl.defendants_dropdown" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="secDefOwner"
                    label="Select Defendant" placeholder="Select Defendant..." validation="No defendants found..." ngexpression="item.defendantid"
                    ngfilter=" | filter:{name:$select.search} | orderBy: 'name'" selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: defendant Dropdown -->

            <!-- Start: Defendant Attorney Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.defendant_Law_Firm">
                <clx-select list="GenerateTemplateCtrl.uniqDefendantAttorneyids" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="defendantLawFirm"
                    label="Defendant Attorney" placeholder="Select defendant attorney..." validation="No defendant attorneys found..."
                    ngexpression="item" ngfilter=" | filter:{name:$select.search}" selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Defendant Attorney Dropdown -->

            <!-- Start: Treatment Date info and bill Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medicalBillsAndInfo1">
                <clx-select list="GenerateTemplateCtrl.medicalBillAndInfoDates" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="medicalTreatmentDates"
                    label="Select Treatment Date" placeholder="Select date..." validation="No treatment date found..." ngexpression="item.startEndDate1"
                    selectedviewproperty='<small> {{$select.selected.startEndDate1}}</small>' dropdownviewproperty='<small> {{item.startEndDate1}} </small>'>
                </clx-select>
            </div>
            <!-- End: Treatment Date info and bill Dropdown -->

            <!-- Start:Medical provider from medical bill and Info Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medicalBillsAndInfo">
                <clx-select list="GenerateTemplateCtrl.uniqMedicalProvidersFromBillAndInfoCopy" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="medicalproviderid" label="Medical Provider" placeholder="Select medical provider..." validation="No medical providers found..."
                    ngexpression="item" ngfilter=" | filter:{contact_name:$select.search} | orderBy: 'contact_name'" selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Medical provider from medical bill and Info Dropdown -->

            <!-- Start: Insurance Dropdown -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.insurance_adjstor_insured">
                <clx-select list="GenerateTemplateCtrl.insuranceAdjusorInsured" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="onlyInsuranceId"
                    label="Insurance Company" placeholder="Select Insurance Company..." validation="No Insurance Company found..."
                    ngexpression="item" ngfilter=" | filter:{contact_name:$select.search}" selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty=' <small><strong>Insurance Provider-</strong>{{item.insuranceproviderid.firstname}} {{item.insuranceproviderid.lastname}}<br> </small>
                            <small><strong>Adjuster-</strong>{{item.adjusterid.firstname}} {{item.adjusterid.lastname}}<br> </small>
                            <small ><strong>Claim No-</strong>{{item.claimnumber}} <br> </small> 
                            <small > <strong>Insured Party- </strong>{{item.insuredpartyid.firstname}} {{item.insuredpartyid.lastname}}<br></small>  
                            <hr style="margin:0; border-top:1px solid #ccc">'>
                </clx-select>
            </div>
            <!-- End: Insurance Dropdown -->

            <!--Start:Deposition Event dropdown-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.deposition_event">
                <clx-select list="GenerateTemplateCtrl.EBTEvents" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="eventid" label="Select Deposition Events"
                    validation="No Deposition events found..." placeholder="Select event..." ngexpression="item.id" ngfilter="|filter:{startEndTime:$select.search}"
                    selectedviewproperty='<small>{{$select.selected.startEndTime}}</small>' dropdownviewproperty='<small>{{item.startEndTime}}</small>'>
                </clx-select>
            </div>
            <!--End:Deposition Event dropdown-->

            <!-- Start: Accident time Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.accident_time">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="timeOfAccident" label="Accident time" placeholder="Enter the time...">
                </clx-textbox>
            </div>
            <!-- End: Accident time Textbox -->

            <!-- Start: Bed confinement Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.bed_confinement">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtOne" label="Bed Confinement" placeholder="Enter the details...">
                </clx-textbox>
            </div>
            <!-- End: Bed confinement Textbox -->

            <!-- Start: Bed confinement after surgery Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.bed_confinement_surgery">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtTwo" label="Bed Confinement After Surgery"
                    placeholder="Enter the details...">
                </clx-textbox>
            </div>
            <!-- End: Bed confinement after surgery Textbox -->

            <!-- Start: Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.confinement_medical_center">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtThree" label="Confinement to Medical Center"
                    placeholder="Enter the details...">
                </clx-textbox>
            </div>
            <!-- End:  Textbox -->

            <!-- Start: Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medical_expenses">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtFour" label="Medical Expenses Reimbursed By"
                    placeholder="Enter the details...">
                </clx-textbox>
            </div>
            <!-- End:  Textbox -->

            <!-- Start: Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.def_file_number">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="rightTxtOne" label="Defendant’s File Number" placeholder="Enter the number...">
                </clx-textbox>
            </div>
            <!-- End:  Textbox -->

            <!-- Start: County of the Location of Accident Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.accident_county">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="accidentCounty" label="County of the Location of Accident"
                    placeholder="Enter the location...">
                </clx-textbox>
            </div>
            <!-- End: County of the Location of Accident Textbox -->

            <!-- Start: Collateral Source name Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.collateral_source">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="contactName" label="Collateral source name" placeholder="Enter the name...">
                </clx-textbox>
            </div>
            <!-- End: Collateral Source name Textbox -->

            <!-- Start: Collateral Source address Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.collateral_source_address">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="userAddress" label="Collateral source address" placeholder="Enter the addtress...">
                </clx-textbox>
            </div>
            <!-- End: Collateral Source address Textbox -->

            <!-- Start: Collateral Source claim number Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.collateral_source_number">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="defendantClaimNumber" label="Collateral Source Claim Number"
                    placeholder="Enter the number...">
                </clx-textbox>
            </div>
            <!-- End: Collateral Source claim number Textbox -->

            <!-- Start: Collateral Source claim number Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.motion_type">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="motionLimine" label="Type of Motion" placeholder="Enter the type...">
                </clx-textbox>
            </div>
            <!-- End: Collateral Source claim number Textbox -->

            <!-- Start: Accident Location Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.accident_location">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="rightTxtTwo" label="Accident Location" placeholder="Enter the location...">
                </clx-textbox>
            </div>
            <!-- End: Accident Location Textbox -->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.test_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers4" label="Radiological Services and Diagnostic Tests Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.claim_number">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtFive" label="Claim Number of Medical Expenses Reimbursed By"
                    placeholder="Enter the number...">
                </clx-textbox>
            </div>
            <!-- End:  Textbox -->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.med_expense_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers" label="Future Medical Expense Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.phy_service_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers2" label="Physician’s Services Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.hos_expense_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers3" label="Hospital Expenses Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.miscellaneous_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers5" label="Miscellaneous Expense Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.med_supplies_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers6" label="Medical Supplies Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.xray_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers7" label="X-ray Expenses Amount" step="0.01"
                    placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.nurse_service_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers8" label="Nurse Services Amount" step="0.01"
                    placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.earning_loss_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers9" label="Loss of Earnings Amount"
                    step="0.01" placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start: Amount Textbox -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.other_expenses_amount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="amountInNumbers10" label="Other Expenses Amount" step="0.01"
                    placeholder="Enter amount..." currency="yes" dollarbox="yes">
                </clx-textbox>
            </div>
            <!--End: Amount textbox-->

            <!-- Start:Date of motion served DatePicker -->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.motion_serve_date">
                <clx-date condition="GenerateTemplateCtrl.openCalender(event)" model="GenerateTemplateCtrl.TemplateModelInfo" modelname="custom_date"
                    label="Motion Served Date">
                </clx-date>
            </div>
            <!-- Ends:Date of motion served DatePicker -->
        </div>
    </div>
</div>
<!-- layout d64 ends -->