<!-- layout d77 start -->
<div class="row" ng-form="plaintiffform">
    <div class="row">
        <div class="col-md-12">

            <!-- Start: Plaintiff Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.plaintiffs">
                <clx-select list="GenerateTemplateCtrl.plaintiff_dropdown"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="plaintiffs" label="Select Plaintiff"
                    placeholder="Select plaintiff..." validation="No plaintiff found..." ngexpression="item"
                    ngfilter=" | filter:{name:$select.search} | orderBy: 'name'"
                    selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Plaintiff Dropdown -->

            <!-- Start: Plaintiff Dropdown for plaintiff Insurance Provider from settlement -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.plaintiff_onChange_Insurance">
                <clx-select list="GenerateTemplateCtrl.plaintiff_dropdown"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="plaintiffs" changefn="yes"
                    affectmodelname="plaintiffEmployerIds"
                    selected-items-changed="GenerateTemplateCtrl.getPlaintiffInsuranceProviders(GenerateTemplateCtrl.TemplateModelInfo.plaintiffs);"
                    label="Select Plaintiff" placeholder="Select plaintiff..." validation="No plaintiff found..."
                    ngexpression="item" ngfilter=" | filter:{name:$select.search} | orderBy: 'name'"
                    selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Plaintiff Dropdown for plaintiff Insurance Provider from settlement -->

            <!-- Start:Settlement offer amount Dropdown depend on Plaintiff -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.plaintiff_InsProvider">
                <clx-select list="GenerateTemplateCtrl.plaintiffInsuranceProviders"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="plaintiffInsuranceIds"
                    dependmodelname="plaintiffs" dependchangefn="yes" label="Settlement Offer Amount"
                    placeholder="Select offer amount..." validation="No Settlement offer amount found..."
                    dependvalidation="Please select plaintiff..." ngexpression="item"
                    selectedviewproperty='<small> {{$select.selected.offered_amount|currency}} </small>'
                    dropdownviewproperty='<small> {{item.offered_amount|currency}} </small>'>
                </clx-select>
            </div>
            <!-- End: Settlement offer amount Dropdown depend on Plaintiff -->

            <!-- Start:Insurance/Settlement Amount Dropdown depend on Plaintiff -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.settlement_negotiations">
                <clx-select list="GenerateTemplateCtrl.plaintiffInsuranceProviders"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="plaintiffInsuranceIds1"
                    dependmodelname="plaintiffs" dependchangefn="yes" label="Select Negotiation"
                    placeholder="Select settlement amount..." validation="No Negotation found..."
                    dependvalidation="Please select plaintiff..." ngexpression="item"
                    selectedviewproperty='<small> {{$select.selected.insurance_provider_name}} </small>'
                    dropdownviewproperty='<small><strong>Insurance Provider-</strong> {{item.insurance_provider_name}}<br></small>
                                          <small><strong> Demand Amount-</strong> {{item.demanded_amount|currency}}<br></small>
                                          <small><strong>Offer Amount-</strong> {{item.offered_amount|currency}}<br></small>
                                          <hr style="margin:0; border-top:1px solid #ccc">'>
                </clx-select>
            </div>
            <!-- End: Insurance/Settlement Amount Dropdown depend on Plaintiff -->

            <!-- Start: Attorney Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.smpAttorney">
                <clx-select list="GenerateTemplateCtrl.allAttorneysList" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="leadattorneyid" label="Select Attorney" placeholder="Select attorney..."
                    validation="No attorneys found..." ngexpression="item.uid"
                    ngfilter=" | filter:{contact_name:$select.search}"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    groupby="GenerateTemplateCtrl.groupAllAttorneys" groupfilter="GenerateTemplateCtrl.attorneyTypes"
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Attorney Dropdown -->

            <!-- Start: Defendant Attorney Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.defendant_Law_Firm">
                <clx-select list="GenerateTemplateCtrl.uniqDefendantAttorneyids"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="defendantLawFirm"
                    label="Select Defendant Attorney" placeholder="Select defendant attorney..."
                    validation="No defendant attorneys found..." ngexpression="item"
                    ngfilter=" | filter:{name:$select.search}"
                    selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Defendant Attorney Dropdown -->

            <!-- Start: Lead Attorney Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.lead_attorney">
                <clx-select list="GenerateTemplateCtrl.onlyLeadAtt" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="secondleadattorneyid" label="Select Lead Attorney" placeholder="Select Lead Attorney..."
                    validation="No lead attorneys found..." ngexpression="item.uid"
                    ngfilter=" | filter:{contact_name:$select.search}"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>

                </clx-select>
            </div>
            <!-- End: Lead Attorney Dropdown -->

            <!-- Start: defendant Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.defendants">
                <clx-select list="GenerateTemplateCtrl.defendants_dropdown"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="defendants" label="Select Defendant"
                    placeholder="Select Defendant..." validation="No defendants found..."
                    ngexpression="item.defendantid" ngfilter=" | filter:{name:$select.search} | orderBy: 'name'"
                    selectedviewproperty='<small> {{$select.selected.name}}</small>'
                    dropdownviewproperty='<small> {{item.name}} </small>'>
                </clx-select>
            </div>
            <!-- End: defendant Dropdown -->

            <!-- Start: Insurance Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.insurance_adjstor_insured">
                <clx-select list="GenerateTemplateCtrl.insuranceAdjusorInsured"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="onlyInsuranceId"
                    label="Select Insurance Company" placeholder="Select Insurance Company..."
                    validation="No Insurance Company found..." ngexpression="item"
                    ngfilter=" | filter:{contact_name:$select.search}"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>' dropdownviewproperty=' <small><strong>Insurance Provider-</strong>{{item.insuranceproviderid.firstname}} {{item.insuranceproviderid.lastname}}<br> </small>
                            <small><strong>Adjuster-</strong>{{item.adjusterid.firstname}} {{item.adjusterid.lastname}}<br> </small>
                            <small ><strong>Claim No-</strong>{{item.claimnumber}} <br> </small> 
                            <small > <strong>Insured Party- </strong>{{item.insuredpartyid.firstname}} {{item.insuredpartyid.lastname}}<br></small>  
                            <hr style="margin:0; border-top:1px solid #ccc">'>
                </clx-select>
            </div>
            <!-- End: Insurance Dropdown -->

            <!-- Start: paralegal Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.paralegal_only">
                <clx-select list="GenerateTemplateCtrl.paralegalListFilter = GenerateTemplateCtrl.OnlyParalegalList"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="paralegalid" label="Select Paralegal"
                    placeholder="Select Paralegal..." validation="No Paralegals found..." ngexpression="item.uid"
                    ngfilter=" | filter:{contact_name:$select.search} | filter: {type : 'Paralegal'}"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    groupby="GenerateTemplateCtrl.groupParalegals" groupfilter="GenerateTemplateCtrl.paralegalType"
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: paralegal Dropdown -->

            <!-- Start: Assign user from firm Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.user_in_firm">
                <clx-select list="GenerateTemplateCtrl.allFirmUser" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="firmUserId" label="Select User Name" placeholder="Select user..."
                    validation="No users found..." ngexpression="item.user_id"
                    ngfilter=" | filter:{full_name:$select.search}" groupby="GenerateTemplateCtrl.groupFirmUsers"
                    groupfilter="GenerateTemplateCtrl.firmUserType"
                    selectedviewproperty='<small> {{$select.selected.full_name}}</small>'
                    dropdownviewproperty='<small> {{item.full_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Assign user from firm Dropdown -->

            <!-- Start: Assign user Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.assign_user">
                <clx-select list="GenerateTemplateCtrl.allParalegalList" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="assignUserId" label="User Name" placeholder="Select user..."
                    validation="No users found..." ngexpression="item.uid"
                    ngfilter=" | filter:{contact_name:$select.search}" groupby="GenerateTemplateCtrl.groupParalegals"
                    groupfilter="GenerateTemplateCtrl.paralegalType"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Assign user Dropdown -->

            <!-- Start:Medical provider from medical bill Dropdown with Outstanding Amount -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medicalBillsAndInfo2">
                <clx-select list="GenerateTemplateCtrl.medicalProvidersFromBillAndInfoWithBillId"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="medicalproviderid"
                    label="Medical Provider" placeholder="Select medical provider..."
                    validation="No medical providers found..." ngexpression="item"
                    ngfilter=" | filter:{contact_name:$select.search} | orderBy: 'providerid.contact_name'"
                    selectedviewproperty='<small> {{$select.selected.providerid.contact_name}}</small>'
                    dropdownviewproperty='<small><strong>Medical Provider-</strong>{{item.providerid.contact_name}}<br></strong></small>
                    <small><strong>Bill Amount-</strong>{{item.totalamount|currency}}<br></strong></small>
                    <hr style="margin:0; border-top:1px solid #ccc">'>
                </clx-select>
            </div>
            <!-- End: Medical provider from medical bill Dropdown Outstanding Amount -->

            <!-- Start:Medical provider from medical bill and Info Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medicalBillsAndInfo">
                <clx-select list="GenerateTemplateCtrl.uniqMedicalProvidersFromBillAndInfoCopy"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="medicalproviderid"
                    label="Medical Provider" placeholder="Select medical provider..."
                    validation="No medical providers found..." ngexpression="item"
                    ngfilter=" | filter:{contact_name:$select.search} | orderBy: 'contact_name'"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Medical provider from medical bill and Info Dropdown -->

            <!-- Start:Medical provider Dropdown from medical info -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.medical_provider">
                <clx-select list="GenerateTemplateCtrl.uniqueAllMedicalProviders"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="medicalproviderid"
                    label="Medical Provider" placeholder="Select medical provider..."
                    validation="No medical providers found..." ngexpression="item"
                    ngfilter=" | filter:{contact_name:$select.search} | orderBy: 'contact_name'"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Medical provider Dropdown from medical info -->

            <!-- Start: Communication Method Dropdown -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.communication_method">
                <clx-select list="GenerateTemplateCtrl.communicationMethod"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="communicationMethod"
                    label="Communication Method" placeholder="Select method..." ngfilter=" | filter:{id:$select.search}"
                    selectedviewproperty='<small>{{$select.selected.id}}</small>'
                    dropdownviewproperty='<small>{{item.id}}</small>'>
                </clx-select>
            </div>
            <!-- End: Communication Method Dropdown -->

            <!-- Start: Contact Name Dropdown-->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.matter_contact_all">
                <clx-select list="GenerateTemplateCtrl.allMatterContacts" model="GenerateTemplateCtrl.TemplateModelInfo"
                    modelname="otherpartycontactid" label="Matter Contacts" placeholder="Select contact..."
                    validation="No contacts found..." ngexpression="item"
                    ngfilter=" | filter:{contact_name:$select.search}"
                    selectedviewproperty='<small> {{$select.selected.contact_name}}</small>'
                    groupby="GenerateTemplateCtrl.groupContacts" groupfilter="GenerateTemplateCtrl.contactType"
                    dropdownviewproperty='<small> {{item.contact_name}} </small>'>
                </clx-select>
            </div>
            <!-- End: Contact Name Dropdown-->

            <!-- Start: TIME Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.time">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="leftTxtOne" label="Time"
                    placeholder="Enter time...">
                </clx-textbox>
            </div>
            <!-- End: Time Textbox -->

            <!-- Start: Delivery Textbox-->
            <div class="col-md-6" ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.Delivery">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="Delivery" label="Enter Delivery"
                    placeholder="Enter Delivery...">
                </clx-textbox>
            </div>
            <!-- End: Delivery Textbox -->

            <!-- Start: Account Number Textbox-->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.chargeNumber">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="chargeNumber"
                    label="Enter Account Number" placeholder="Enter Account Number...">
                </clx-textbox>
            </div>
            <!-- End:  Account Number Textbox -->

            <!-- Start: Check Number Textbox-->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.checkNumber">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="checkNumber"
                    label="Enter Check Number" placeholder="Enter Check Number...">
                </clx-textbox>
            </div>
            <!-- End:  Check Number Textbox -->

            <!-- Start: Check Amount Textbox-->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.checkAmount">
                <clx-textbox model="GenerateTemplateCtrl.TemplateModelInfo" modelname="checkAmount"
                    label="Enter Check Amount" placeholder="Enter Check Amount...">
                </clx-textbox>
            </div>
            <!-- End:  Check Amount Textbox -->

            <!-- Start: Date of payment by carrier/defendant Picker -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.payment_date_carrier">
                <clx-date condition="GenerateTemplateCtrl.openCalender(event)"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="paymentByClientDate"
                    label=" Date of Payment By Carrier/Defendant">
                </clx-date>
            </div>
            <!-- Ends Date of payment by carrier/defendant Picker -->

            <!-- Start: Date of payment to Client Picker -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.payment_date_client">
                <clx-date condition="GenerateTemplateCtrl.openCalender(event)"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="paymentToClientDate"
                    label=" Date of Payment To Client">
                </clx-date>
            </div>
            <!-- Ends Date of payment to Client Picker -->

            <!-- Start: Closing statement was forwarded to the client Picker -->
            <div class="col-md-6"
                ng-if="GenerateTemplateCtrl.configure_template.display_prop.display_fields.closing_stat_forwarded_date">
                <clx-date condition="GenerateTemplateCtrl.openCalender(event)"
                    model="GenerateTemplateCtrl.TemplateModelInfo" modelname="noticeProduceDate"
                    label=" Closing Statement Was Forwarded to Client">
                </clx-date>
            </div>
            <!-- Ends Closing statement was forwarded to the client Picker -->

        </div>
    </div>
</div>
<!-- layout d77 ends -->