<style>
    .btn-group .btn-default{line-height: 38px;height: 40px;}
</style>
<div data-ng-form="document.documentMotionForm">
    <div class="fullsize-control">
        <div class="row">
            <div class="border-box">
            <div class="col-md-6 margin-top10px padding-0">
                <div class="col-md-6" style="height: 50px;">
                    <label>Date of Service</label>
                    <span class="input-group datepicker">
                        <input
                            type="text"
                            name="dateOfService"
                            data-ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_date_of_service"
                            datepicker-popup="{{document.dateFormat}}"
                            show-button-bar="false"
                            clear-text="Clear"
                            max-date="document.multiFilesdata[$index].documentMotionDetailInfo.motion_date_returnable"
                            datepicker-options="document.datepickerOptions"
                            is-open="document.multiFilesdata[$index].dateOfServiceEvent"
                            show-button-bar="false"
                            data-ng-disabled="false"
                            id="motionDatediv{{$index}}"
                            validate-date error-div="#motionDatediv{{$index}}"
                            tooltip="mm/dd/yyyy"
                            placeholder="mm/dd/yyyy"   
                            class="form-control"
                            show-button-bar="false"
                            data-ng-change="document.dateOfServiceDateChange(document.multiFilesdata[$index].dateOfServiceEvent)" />
                        <span class="input-group-btn">
                            <button type="button"
                                class="btn btn-default"
                                data-ng-click="document.openDatePickerMultiUpload(document.multiFilesdata[$index], $event,'dateOfServiceEvent');">
                                <i class="default-calendar-small sprite"></i>
                            </button>
                        </span>
                    </span>
                    <div class="error" style="float: none;" >Invalid date format!</div>
                    <span
                        data-ng-show="document.showErrorMsgForDates(document.multiFilesdata[$index].documentMotionDetailInfo.dateOfService,document.multiFilesdata[$index].documentMotionDetailInfo.returnableDate)"
                        class="error">Date of service is after returnable date.

                    </span>
                </div>
                <div class="col-md-6" style="height: 50px;">
                    <label>Returnable Date</label>
                    <span class="input-group datepicker">
                        <input type="text"
                            data-ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_date_returnable"
                            datepicker-popup="{{document.dateFormat}}"
                            show-button-bar="false"
                            clear-text="Clear"
                            datepicker-options="document.datepickerOptions"
                            min-date="document.multiFilesdata[$index].documentMotionDetailInfo.motion_date_of_service"
                            is-open="document.multiFilesdata[$index].returnableDateEvent"
                            data-ng-disabled="false"
                            id="ReturnDatediv{{$index}}"
                            validate-date error-div="#ReturnDatediv{{$index}}"       
                            tooltip="mm/dd/yyyy"
                            placeholder="mm/dd/yyyy"
                            show-button-bar="false"
                            class="form-control" ng-change="document.returnableDateChange(document.multiFilesdata[$index].returnableDateEvent)" />
                        <span class="input-group-btn">
                            <button type="button"
                                class="btn btn-default"
                                data-ng-click="document.openDatePickerMultiUpload(document.multiFilesdata[$index], $event,'returnableDateEvent')">
                                <i class="default-calendar-small sprite"></i>
                            </button>
                        </span>
                    </span>
                    <div class="error" style="float: none;">Invalid date format!</div>
                </div>
            </div>
            <div class="col-md-6 margin-top10px">
                <div>
                    <label>Type</label>
                    <ui-select name="document_type" ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_type" theme="selectize">
                        <ui-select-match placeholder="Select Motion Type">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="type.id as type in document.motionType | filter:{ name:$select.search } | orderBy: 'name'">
                            <small>
                                {{type.name}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6 margin-top10px">
                <div>
                    <label>Title</label>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                        data-ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_title"
                        name="document_title{{$index}}"
                        ng-pattern="/^[\x00-\x7F]*$/"
                        >

                    <span class="sprite default-caution error-icon" data-ng-show="document.documentMotionForm['document_title'+$index].$dirty && document.documentMotionForm['document_title'+$index].$invalid"></span>
                    <div data-ng-if="document.documentMotionForm['document_title'+$index].$dirty" ng-messages="document.documentMotionForm['document_title'+$index].$error">
                        <div class="error" ng-message="required">
                            <span ng-show="document.documentMotionForm['document_title'+$index].$error">Title cannot be blank.</span>
                        </div>
                        <div class="error" ng-message="pattern">
                            <span ng-show="document.documentMotionForm['document_title'+$index].$error">Motion title contains invalid characters. Please enter another title</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 margin-top25px">
                <div class="">
                    <clx-btn-group btn-list="document.multiFilesdata[$index].motionToBeSelected" value="document.multiFilesdata[$index].documentMotionDetailInfo.motion_on_by"></clx-btn-group>
                </div>
            </div>
            <div class="col-md-6 margin-top10px">
                <div>
                    <label>Status</label>
                    <ui-select ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_status" theme="selectize">
                        <ui-select-match placeholder="Select Status...">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="status.id as status in document.motionStatus| filter:{name:$select.search} | orderBy: 'name'">
                            <small>
                                {{status.name}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6 margin-top10px form-group-margin-null padding-0">
                <div class="form-group col-md-6 ">

                    <label>Judge</label>
                    <input type="text"
                        name="contact"
                        data-ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.contact"
                        data-ng-model-options="{ debounce: 200 }"
                        placeholder="Search Contacts"
                        typeahead="row as row.name for row in document.getDocumentMotionContact($viewValue)"
                        typeahead-input-formatter="document.formatTypeaheadDisplayForDocumentMotion($model)"
                        typeahead-on-select="document.setTypeMotionForMultiupload($model, $index)"
                        typeahead-template-url = "matter/matter-details/insaurance/contact-tpl.html"
                        class="form-control ">
                </div>

                <div class="add-now-wrap">
                    <span class="or-connector">OR </span>
                    <button class="btn btn-default" data-ng-click="document.addNewContactforDocumentMotionMultiUpload($index, 'docmotion')">Add New</button>
                </div>
            </div>
            <div class="col-md-6 margin-top10px">
                <div>
                    <label>Description</label>
                    <textarea rows="4" class="form-control" data-ng-model="document.multiFilesdata[$index].documentMotionDetailInfo.motion_description"></textarea>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6"></div>

    </div>
</div>

