<style>
    div#globalNotesedit ul li {
        list-style: disc;
        margin-left: 10px;
    }

    .modal-open .modal {
        overflow-y: hidden;
    }
</style>
<div ng-form="ViewGlobalNoteCtrl.noteToEditForm">
    <div class="modal-header">
        <div class="view-only-fields row">
            <div class="col-md-9">
                <div class="note-subhead">
                    <strong ng-if="!isIntake">Matter: {{ViewGlobalNoteCtrl.noteToEdit.matter_name}}</strong>
                    <strong ng-if="isIntake">Intake: {{ViewGlobalNoteCtrl.noteToEdit.matter_name}}</strong>
                    <br />
                    <small
                        title='Added By: {{ViewGlobalNoteCtrl.noteToEdit.fname}}&nbsp;{{ViewGlobalNoteCtrl.noteToEdit.lname}} | {{getFormattedDate(ViewGlobalNoteCtrl.noteToEdit.datereceived)}}'>Added
                        By: {{ViewGlobalNoteCtrl.noteToEdit.fname}}&nbsp;{{ViewGlobalNoteCtrl.noteToEdit.lname}} |
                        {{ViewGlobalNoteCtrl.getFormattedDate(ViewGlobalNoteCtrl.noteToEdit.created_date)}}</small>
                </div>

            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="ViewGlobalNoteCtrl.close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="modal-body static-new-scrollbar" style="height: 490px;">
        <label>Note
            <span class="compulsary-mark">*</span>
        </label>
        <wysiwyg textarea-id="globalNotesedit" textarea-class="new-editor-height globle-note-color form-control"
            textarea-name="globalNoteEditText" textarea-required ng-model="ViewGlobalNoteCtrl.noteToEdit.text"
            enable-bootstrap-title="true" form-data="ViewGlobalNoteCtrl.noteToEditForm.globalNoteEditText"></wysiwyg>
        <div data-ng-show="ViewGlobalNoteCtrl.noteToEditForm.globalNoteEditText.$error.maxSize"
            ng-messages="ViewGlobalNoteCtrl.noteToEditForm.globalNoteEditText.$error">
            <div class="error" style="float: left !important;" ng-message="maxSize">
                Note description max limit exceeded
            </div>
        </div>

        <div class="row margin-top10px">
            <div class="col-md-7">
                <label>Category</label>
                <ui-select ng-model="ViewGlobalNoteCtrl.noteToEdit.noteCategory.notecategory_id" name="notecat"
                    theme="selectize">
                    <ui-select-match placeholder="Enter category">
                        {{$select.selected.category_name | SentenseCase}}
                    </ui-select-match>
                    <ui-select-choices
                        repeat="item.notecategory_id as item in ViewGlobalNoteCtrl.addNoteCategories | filter:{ category_name:$select.search }">
                        <small>
                            {{item.category_name | SentenseCase}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-5 form-inline">
                <div class="margin-top30px form-group">
                    <div ng-switcher ng-model="ViewGlobalNoteCtrl.noteToEdit.is_important"
                        class="form-control zero-border remove-bg">
                    </div>
                    <label>
                        <a href="javascript:void(0);">Important</a>
                    </label>
                </div>
            </div>
            <div class="col-md-7 form-inline">
                <label> Linked Contact</label>
                <ui-select multiple ng-model="ViewGlobalNoteCtrl.noteToEdit.linked_contact_temp" theme="select2"
                    class="w-94" style="max-height: 230px;">
                    <ui-select-match placeholder="Enter Contact">
                        {{$item.firstname + " " + $item.lastname}}
                    </ui-select-match>
                    <ui-select-choices refresh-delay="1000" refresh="ViewGlobalNoteCtrl.getLinkContact($select.search)"
                        repeat="contact.contactid as contact in ViewGlobalNoteCtrl.contactList1 |  orderBy: 'name'">
                        <small>
                            {{contact.firstname + " " + contact.lastname}} <br>
                            {{contact.street}} {{contact.city}}<span
                                ng-if="((contact.street && contact.street.length > 0)||(contact.city && contact.city.length > 0)) && (contact.state && contact.state.length > 0)">,</span>
                            {{contact.state}}
                        </small>
                        <hr>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-4 form-inline margin-top25px p-0">
                <span class="or-connector">OR</span>
                <button class="margin-top0px btn btn-default contact-btn-new margin0" data-ng-click="ViewGlobalNoteCtrl.addNewContact('all_notes')">
                    Add New
                </button>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button data-ng-click="ViewGlobalNoteCtrl.close()" class="btn btn-default btn-styleNone">
            Cancel</button>

        <button type="button" class="btn btn-default"
            data-ng-click="ViewGlobalNoteCtrl.editNote(ViewGlobalNoteCtrl.noteToEdit)"
            data-ng-disabled="ViewGlobalNoteCtrl.note.type == 'email' || ViewGlobalNoteCtrl.note.type == 'sidebar' ||  ViewGlobalNoteCtrl.noteToEditForm.$invalid">
            Save</button>
    </div>
</div>