<div class="marketplace-main" >   
    <div class="col-md-11 col-centered">
    <!--<div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/referral-exchange.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Referral Engine</div>
            <div class="text">Increase your firm’s revenues and grow your footprint nationally by joining our expansive network of personal injury attorneys. The ultimate marketing tool, you can refer out, take on, and track matters all in one centralized and easy-to-use location.</div>
           
           
            <div class="margin-top20px"><a ng-click="upcompingAppsCtrl.showDetails('RE')" class="see-details" >SEE DETAILS</a></div>
        </div>
    </div>-->
    <div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/referral-engine.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Referral Engine</div>
            <div class="text">Refer out and take on matters from a growing community of plaintiff attorneys. Referrals are easy to setup and even easier to manage. Track changes and easily share information with partner firms over a secure and HIPAA compliant server. </div>
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('RE')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>
    <div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/referral-exchange.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Referral Exchange</div>
            <div class="text">Free and open to all, it’s the ultimate marketing tool. Connect with CloudLex’s expansive network of PI attorneys and promote your firm nationally. Take on and track referrals from anywhere, all in one centralized and easy-to-use location.</div>
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('RX')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>    
    <div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/communicator-cloudlex.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Client Communicator</div>
            <div class="text">Reduce frequent calls and communicate with your clients in a mutually convenient manner. Firms can share real time case updates that can be viewed by clients around-the-clock. And clients can upload important case documents right in the portal, saving your firm valuable time.</div>
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('CCOM')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>
        
    <!--<div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/microsoft-online.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Microsoft Office Online®</div>
            <div class="text">Create, edit, and co-author your Word, Excel, and PowerPoint documents without leaving the Legal Cloud. Updates made in CloudLex are automatically reflected across all team members and devices, so you can spend less time coordinating and more time collaborating.</div>
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('O365')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>-->
        
    
        
    <!--<div class="marketplace-row">
        <div class="col-md-2 left-img"><img class="marketplace-list-icon" src="styles/images/marketplace-images/icon/office-connector.png"></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Office Connector</div>
            <div class="text">Work on CloudLex documents while offline. Create and edit documents in Word, while accessing important case information from CloudLex. Once back online, confidently save and tag documents to their respective matters in CloudLex.</div>
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('OPLG')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>    -->
        
      <!--<div class="marketplace-row">
        <div class="col-md-2 left-img"><span><img src="styles/images/print_alert.png"></span></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Digital Archivar</div>
            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
            <div class="adopted-by">Adopted By: <span>40 Laws Firms</span></div>
          
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('DA')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>
      <div class="marketplace-row">
        <div class="col-md-2 left-img"><span><img src="styles/images/print_alert.png"></span></div>
        <div class="col-md-10 marketplace-right-block margin-top10px">
            <div class="title">Office 365 Online</div>
            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
            <div class="adopted-by">Adopted By: <span>40 Laws Firms</span></div>
          
            <div class="margin-top20px"><a  ng-click="upcompingAppsCtrl.showDetails('O365')"  class="see-details">SEE DETAILS</a></div>
        </div>
    </div>-->
</div>
</div>

