.application-wrapper {
        .modal-dialog{ width: 500px;
    }
    .modal-header {
        height: 50px;
    }
    .negative-mb-60 {
        margin-bottom: -60px;
    }
    .white-border {
        border-top-color: $color_white;
    }
}