<!-- Compose Mail -->
<div ng-class="{'cursor-pointer-events-none' :mailboxCtrlV2.matterDocs, '' : !mailboxCtrlV2.matterDocs}">
    <div class="compose-head">
        <h2 class="pull-left">Compose</h2>
        <a href="javascript:void(0)" class="pull-right" id="closeComposeMail" ng-click="mailboxCtrlV2.closeCompose();globalNotes.closeComposeMail();notes.closeComposeMail();">x</a>
    </div>
    <div class="clearfix"></div>

    <div class="page-title-border clearfix  heading-with-button-bottom-padding ">

        <div class=" pull-right paddingLR-10px">
            <button class="btn btn-default" data-ng-click="mailboxCtrlV2.sendMail('draftMailSend')" data-ng-disabled="!mailboxCtrlV2.enableSave || (mailboxCtrlV2.isGraceOver != 1)">
                Send</button>
            <button class="btn btn-default" data-ng-click="mailboxCtrlV2.sendMail('draft')" data-ng-disabled="!mailboxCtrlV2.enableSave || (mailboxCtrlV2.isGraceOver != 1)">
                Save as Draft</button>
        </div>
    </div>

    <div class="compose-fields">

        <!--hidden field for holding email thread id and gmail message id start -->
        <input type="hidden" ng-model="mailboxCtrlV2.composeEmail.gmailthreadid">
        <input type="hidden" ng-model="mailboxCtrlV2.composeEmail.gmailmessageid">
        <!-- end  -->

        <div class="compose-input-fields">
            <div class="row">
                <div class="pull-left">Recipient:</div>
                <div class="col-md-9">
                    <ui-select multiple ng-model="mailboxCtrlV2.composeEmail.recipientsUsers" ng-change="mailboxCtrlV2.checkAddress(mailboxCtrlV2.composeEmail.recipientsUsers);" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="">
                            {{$item.personal | notEmptyString : $item.address}}&#60;{{$item.address}}&#62;
                        </ui-select-match>
                        <ui-select-choices refresh="mailboxCtrlV2.getSendToList($select.search)" refresh-delay="300" repeat="firmU as firmU in mailboxCtrlV2.sendToList| filter:{fullName:$select.search}">
                            <small>{{firmU.personal}}&#60;{{firmU.address}}&#62;</small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="pull-left">Cc:</div>
                <div class="col-md-9">
                    <ui-select multiple ng-model="mailboxCtrlV2.composeEmail.recipientsUserCc" ng-change="mailboxCtrlV2.checkAddress(mailboxCtrlV2.composeEmail.recipientsUserCc);" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="">
                            {{$item.personal | notEmptyString : $item.address}}&#60;{{$item.address}}&#62;
                        </ui-select-match>
                        <ui-select-choices refresh="mailboxCtrlV2.getSendToList($select.search)" refresh-delay="300" repeat="firmU as firmU in mailboxCtrlV2.sendToList| filter:{fullName:$select.search}">
                            <small>{{firmU.personal}}&#60;{{firmU.address}}&#62;</small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="pull-left">Bcc:</div>
                <div class="col-md-9">
                    <ui-select multiple ng-model="mailboxCtrlV2.composeEmail.recipientsUserBcc" ng-change="mailboxCtrlV2.checkAddress(mailboxCtrlV2.composeEmail.recipientsUserBcc);" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="">
                            {{$item.personal | notEmptyString : $item.address}}&#60;{{$item.address}}&#62;
                        </ui-select-match>
                        <ui-select-choices refresh="mailboxCtrlV2.getSendToList($select.search)" refresh-delay="300" repeat="firmU as firmU in mailboxCtrlV2.sendToList| filter:{fullName:$select.search}">
                            <small>{{firmU.personal}}&#60;{{firmU.address}}&#62;</small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="pull-left">Tag Matter:</div>
                <div class="col-md-9">
                    <input type="text" name="matterid" class="form-control" data-ng-model-options="{ debounce: 200 }" placeholder="Start typing matter name here..." data-ng-change="mailboxCtrlV2.formatTypeaheadDisplay($model)" typeahead="row.matterid as removeunwantedhtml(row.name) for row in mailboxCtrlV2.searchMatters($viewValue)"
                    typeahead-wait-ms="500" typeahead-input-formatter="mailboxCtrlV2.formatTypeaheadDisplay($model)" data-ng-required="true" data-ng-model="mailboxCtrlV2.composeEmail.matter_id" />
                </div>
            </div>
            <div class="row">
                <div class="pull-left">Subject:</div>
                <div class="col-md-9">
                    <input type="text" placeholder="" strip-extended-ascii data-ng-model="mailboxCtrlV2.composeEmail.subject">
                </div>
            </div>
            <div class="row" ng-if="mailboxCtrlV2.composeEmail.matter_id">
                <div class="pull-left">Attach Matter Documents:</div>
                <div class="col-md-9">
                    <div class="sprite pull-left default-tag-matter-document cur-pointer" ng-click="mailboxCtrlV2.openTagMatterDocument(mailboxCtrlV2.composeEmail.matter_id);">
                        &nbsp;
                    </div>
                    <clx-filter-tags class="costum-tags" on-filter-cancel="mailboxCtrlV2.tagCancelled" tag-list="mailboxCtrlV2.documentTags"></clx-filter-tags>
                    <!-- <ui-select multiple ng-model="mailboxCtrlV2.composeEmail.matterdocs" on-select="mailboxCtrlV2.getFileSize(mailboxCtrlV2.composeEmail.matterdocs,'matterdoc')" on-remove="mailboxCtrlV2.canclematterdoc($item)" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="Click here to select">
                            {{$item.documentname}} {{$item.docSize}}
                        </ui-select-match>
                        <ui-select-choices style="border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-clip: padding-box;" group-by="mailboxCtrlV2.groupMatterDoc" group-filter="mailboxCtrlV2.categories"
                            repeat="item in mailboxCtrlV2.documentsList.data | filter:{name:$select.search}  | orderBy: 'documentname'">
                            <small>{{item.documentname}}</small>
                        </ui-select-choices>
                    </ui-select> -->
                </div>
            </div>
            <!--Bug#6696-->
            <div class="row" data-ng-show="mailboxCtrlV2.emailDocsNote">
                <div class="pull-left">Save this email to Notes:</div>
                <div class="col-md-9 checkbox" style="margin: 0px;position:relative!important;">
                    <input type="checkbox" data-ng-disabled="mailboxCtrlV2.emailNoteDisabled" data-ng-checked="mailboxCtrlV2.composeEmail.emailNotes === '1'" data-ng-model="mailboxCtrlV2.composeEmail.emailNotes" data-ng-true-value="'1'" data-ng-false-value="'0'" /><label></label>
                </div>
            </div>
            <div class="row border-none">
                <div class="pull-left">Upload Files:</div>
                <div class="col-md-10">
                    <div class="sprite pull-left default-attachment cur-pointer" ngf-select ng-model="mailboxCtrlV2.files" ngf-multiple="true">
                        &nbsp;
                    </div>
                    <div>
                        <div class="margin-left20px custom-tab-java-block" style="max-height: 68px;overflow: auto;">
                            <div class=" border-none pull-left attchment-items" data-ng-show="mailboxCtrlV2.composeEmail.file.length>0" data-ng-repeat="file in mailboxCtrlV2.composeEmail.file track by $index">
                                <span class="pull-left">{{file.docname}} {{file.docSize}}</span>

                                <div class="pull-left file-buttons">
                                    <ul class="showBy-btns ">
                                        <!-- <li>
                                            <a href="#" data-ng-show="(mailboxCtrlV2.compose!==true) && file.docuri && file.docuri!=''" data-ng-click="mailboxCtrlV2.downloadAttachment(file.docuri)"><span class="sprite default-sharedown"></span></a>
                                        </li> -->
                                        <li> <!-- data-ng-show="file.docuri && file.docuri!=''" -->
                                            <a href="#" class=""  data-ng-click="$event.preventDefault(); mailboxCtrlV2.cancleAttachment($index)" aria-hidden="true">×</a>
                                        </li><!-- data-ng-show="file.docname && file.docname!=''" -->
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress-attachment">
                                    <progressbar class="progress active" animate="true" max="100" data-ng-show="file.fileProgress && file.fileProgress!=''" value="file.fileProgress" type="info"></progressbar>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid margin-top10px">
                <div class="col-md-12">
                    <!-- <text-angular ng-model="mailboxCtrlV2.composeMailMsg" value="" ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough','redo', 'undo'],
                                ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent']]"></text-angular> -->
                                <wysiwyg textarea-id="Compose_mail" textarea-class="new-editor-height globle-note-color form-control" textarea-name="Composemail"
            textarea-required ng-model="mailboxCtrlV2.composeMailMsg" enable-bootstrap-title="true"></wysiwyg>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div>{{mailboxCtrlV2.callUpdate()}} </div>
</div>

<!-- matter documents  -->
<div class="compose-wrap" style="width:70%;height:82%" ng-init="mailboxCtrlV2.matterDocs = false" ng-class="{'matterDocsShow cursor-pointer-events-all' :mailboxCtrlV2.matterDocs, '' : !mailboxCtrlV2.matterDocs}">
    <ng-include src="'mailbox_v2/matter-documents.html'"></ng-include>
</div>