<style>
	.modal-dialog {
		width: 40%;
	}
</style>
<div>
	<div class="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="filterCntrl.cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
			<h1 class="modal-title fl-left" id="myModalLabel">Filters</h1>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="row-fluid">
					<div class="col-md-6">
						<!-- Category -->
						<h3>Role</h3>
						<form>
							<div ng-repeat="roles in filterCntrl.role" class="checkbox checkbox-primary">
								<input type="checkbox" checklist-model="filterCntrl.roleFilter" checklist-value="roles"><label> {{roles | SentenseCase}}</label>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="filterCntrl.reset()">Reset</button>
			<button class="btn btn-default pull-right" ng-disabled="filterCntrl.enableApplyForOther" ng-click="filterCntrl.applyFilters(filterCntrl.roleFilter)">Apply</button>
		</div>
	</div>
</div>