<div class="modal-content">
    <div class="modal-header">
        <div class="pull-left margin-top7px">
            <!-- <strong> -->
            Referral Confirmation
            <!-- </strong> -->
        </div>
        <button class="close fl-right" data-ng-click="payment.cancel()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <strong> -->
        You have opted to accept the referred intake.
        <!-- </strong> -->


    </div>


    <div class="modal-footer">
        <button data-ng-click="payment.cancel()" class="btn btn-default btn-default">Cancel</button>
        <button data-ng-click="payment.confirm(payment.referralMatter)" class="btn btn-default btn-default">Confirm</button>

    </div>
</div>