<div id="dailymailupper2"></div>
<div data-ng-show="dailymailscan.activeTab=='unindexeddailymail'" data-ng-if="dailymailscan.unindexedList.totallength >0 ">
    <scrollable-table tableid="dailymailgrid2" watch="dailymailscan.unindexedList.data" to="#dailymailupper2" from="#moreAllLink">
        <table style="table-layout: fixed;" class="table">
            <thead>
                <tr>
                    <th style="width:5%">
                        <div class="checkbox" style="margin:0">
                            <input type="checkbox" data-ng-disabled="dailymailscan.filteredUploads.length==0" data-ng-model="dailymailscan.unindexedGridOptions.selectAll" data-ng-checked="dailymailscan.allUploadedSelected()"
                                data-ng-click="dailymailscan.selectAllUploaded(dailymailscan.unindexedGridOptions.selectAll)"
                            />
                            <label></label>
                        </div>
                    </th>
                    <th style="width:10%">
                    </th>
                    <th style="width:35%">Document Name</th>
                    <th style="width:50%">Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="response in dailymailscan.filteredUploads = (dailymailscan.unindexedList.data|filter:dailymailscan.display.unindexed.filterText) track by response.id"
                    row-id="{{ response.id }}" data-ng-class="{'selected-grid-row':dailymailscan.isUploadedSelected(response)}">
                    <td>
                        <div class="checkbox" style="margin:0; position: relative !important;">
                            <input type="checkbox" data-ng-checked="dailymailscan.isUploadedSelected(response)" checklist-model="dailymailscan.unindexedGridOptions.unindexedSelectedItems"
                                checklist-value="response" />
                            <label></label>
                        </div>
                    </td>
                    <td>
                        <div class="cell relative-container">
                            <a data-ng-click="dailymailscan.editUnindexed(response.id)" data-ng-hide="dailymailscan.isGraceOver != 1 || response.editable && response.editable===1 ">
                                <span class="sprite small-edit-icon " tooltip="Edit" tooltip-append-to-body="true">&nbsp;</span>
                            </a>
                            <ul class="showBy-btns small-edit-cancel-btn" style="top: 0;position: inherit;">
                                <li>
                                    <a data-ng-click="dailymailscan.addComments(response.id)" data-ng-show="response.editable && response.editable===1" class="sprite small-save-icon"
                                        tooltip="Save" tooltip-append-to-body="true"></a>
                                </li>
                                <li>
                                    <a data-ng-click="dailymailscan.removeComments(response.id)" data-ng-show="response.editable && response.editable===1" class="sprite small-cancel-icon"
                                        tooltip="Cancel" tooltip-append-to-body="true"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a data-ng-href="javascript:void(0)" data-ng-click="dailymailscan.viewDailyMailScan(response.fileUri,response.id,'undms')">
                                <u>{{ response.name }}</u>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <pre class="pre-default" data-ng-bind-html="response.comment">
                                    </pre>
                            <textarea data-ng-trim="true" name="comments" data-ng-show="response.editable && response.editable===1" rows="2" cols="50"
                                placeholder="Add Comments" data-ng-model="response.newComment" class="form-control"></textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </scrollable-table>
</div>
<div class="row margin-top20px text-center " id="moreAllLink" style="overflow: hidden !important;margin-bottom: 5px;position: fixed;width: 80%;bottom: 0;">
    <div data-ng-if="!dailymailscan.hideUnDocPager && dailymailscan.activeTab=='unindexeddailymail'">
        <a href="javascript:void(0)" class="" data-ng-click="dailymailscan.getNextLimitUploaded()">More</a>
        <span class="paddingLR-10px">|</span>
        <a href="javascript:void(0)" class="" data-ng-click="dailymailscan.getNextLimitUploaded('all')">All</a>
    </div>

</div>

<p data-ng-show="dailymailscan.activeTab=='unindexeddailymail'" class="text-center" data-ng-if="dailymailscan.unindexedList.totallength===0
        && dailymailscan.display.unindexed.unindexedListReceived">
    No data for the applied filters
</p>