<style>
.reminders-checkbox .checkbox{margin-top: 10px !important;margin-bottom: 10px !important;}
.header-task-workflow  .checkbox{margin-top: 10px !important;margin-bottom: 10px !important;}   
</style>
<div class="email-attach-matter-documents">
    <div class="compose-head page-title-border" style="padding: 10px 10px 35px!important;">
        <div class="page-title pull-left">
            Upload Documents of Matter({{efaxCtrl.taggedMatterName}})
        </div> 
        <div class="pull-right">
            <button class="btn btn-default" ng-disabled="efaxCtrl.selectedItemsCopy.length == 0" ng-click="efaxCtrl.getFileSizeNUpload(efaxCtrl.selectedItemsCopy);">Done</button>
            <button class="btn btn-default" data-ng-click="efaxCtrl.matterDocs = false">Cancel</button>
        </div>
    </div>
    <div class="search-block">
        <div class="pull-left search-input form-control-margin-null">
            <div class="default-searchico sprite"></div>
            <input type="text" class="form-control" ng-model="efaxCtrl.searchDocs" placeholder="Start typing document name...">
        </div>
        <div class="pull-left">
            <!-- <label>{{efaxCtrl.documentsList.data.length }} Documents</label> -->
            <label>{{efaxCtrl.documentsList.data.length}}</label>
            <label data-ng-if="efaxCtrl.documentsList.data.length<=1">Document</label>
            <label data-ng-if="efaxCtrl.documentsList.data.length>1">Documents</label>
        </div>
    </div>
    <div class="container">
        <div class="container workflow-task-header upload-documents-matter-grid">
            
            <div class="row header-task-workflow" style="background-color: #e9eef0 !important;">
                <div class="col-md-1">
                    <div class="checkbox">
                        <input type="checkbox" data-ng-model="efaxCtrl.clxGridOptions.selectAll" data-ng-click="efaxCtrl.selectAllDocuments(efaxCtrl.clxGridOptions.selectAll)"
                        /><label></label>
                    </div>
                </div>
                <div class="col-md-4 padding-top-10px">Document Name</div>
                <div class="col-md-4 padding-top-10px">Associated Party and Category</div>
                <div class="col-md-2 padding-top-10px">Created By</div>
            </div>
            <div class="dashboard-tasks-due row" style="max-height:372px;" id="remindersDiv" style="max-height: 200px !important;overflow-x: hidden !important;">
                <div class="col-md-12 reminder-row padding-0" data-ng-class="{'selected-grid-row':efaxCtrl.isDocSelected(data.doc_id) || efaxCtrl.clickedRow === data.doc_id}"
                    data-highlight-clicked-row="{{data.doc_id}},efaxCtrl.clickedRow" data-ng-repeat="data in efaxCtrl.documentsList.data | filter: efaxCtrl.searchDocs track by data.doc_id">
                    <div class="col-md-1  reminders-checkbox">
                        <div class="cell checkbox" data-width="3">
                            <input type="checkbox"  ng-click="efaxCtrl.isDocEqual();" ng-checked="efaxCtrl.isDocSelected(data.doc_id)" checklist-model="efaxCtrl.selectedItemsCopy"
                                checklist-value="data" /><label></label>
                        </div>
                    </div>
                    <div class="col-md-4  padding-top-10px">
                        {{data.doc_name}} {{data.tags_String}}
                    </div>
                    <div class="col-md-4 padding-top-10px">
                        {{data.associated_party.associated_party_name}} {{data.doc_category.doc_category_name}}
                    </div>
                    <div class="col-md-2 reminder-cell padding-top-10px">
                        {{data.created_by_name}}
                    </div>
                </div>
            </div>
            <div class="text-center" data-ng-if="efaxCtrl.documentsList.data.length===0">
                No document found for tagged matter...
            </div>
        </div>
    </div>