<style>
.form-control {width: 100%;}
.btn{padding: 6px 0px;height: auto;line-height:inherit;font-size: 14px;}
</style>
<div class="forgot-main">
    <div class="header-background forgot-password-header">
        <div class="container">
            <div class="rsdow">
                <div class="logo"><img src="styles/images/logo.png" height="40" class="margin-top25px"></div>
            </div>    
        </div>
    </div>
    <div class="container margin-top80px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" data-ng-form="frgtPswd.form">
                <div class="forgot-password-text row">
                    <h3 class="forgot-title">Reset Your CloudLex® Password</h3>
                    <p class="">Submit your email address and we’ll send you a link to reset your password.</p>
                </div>    
                <div class="col-md-5 col-centered">
                    <br>
                    <form class="form-signin">
                        <label class="forgot-password-label">Username</label>
                        <input class="form-control text-center" name="pass" data-ng-required="true" data-ng-model="frgtPswd.email" type="email" />
                        <br>
                        <button type="submit" data-ng-disabled="frgtPswd.form.$invalid" data-ng-click="frgtPswd.forgotPassword(frgtPswd.email)"
                class="btn btn-block forgot-password-btn">Continue</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
