
           <form id="htmlformtwo" >
               <div class="">
                   <label>Group</label>
                   <select class="form-control" ctype="select" name="group" ng-model="document.moreinfoPrased.group.value" >
   					<option ></option>
   					<option value="Type one" >Group one</option>
   					<option value="Type two" >Group two</option>
   				</select>
               </div>
               <div class="clearfix"></div>
               <div class=" margin-top30px">
               <label>
                  <input type="checkbox"  ctype="checkbox" name="ispublic" ng-model="document.moreinfoPrased.ispublic.value" >Show public</label>
               </div>
           </form>
