<!-- 3 page-->
<div class="wizard-accordion">
    <!--minor-->
    <div>

        <div class="collapsee-head">
            <input type="checkbox" data-ng-disabled="true" data-ng-model="addPlaintiff.plaintiffInfo.isminor" />
            <a>
                <label>Plaintiff is a Minor</label>
            </a>
        </div>
        <div data-ng-show="addPlaintiff.plaintiffInfo.isminor" class="col-md-12 margin-top10px">
            <div class="row">
                <form>
                    <div class="col-md-6">
                        <div class="form-group col-md-6">
                            <label>Guardian Name</label>
                            <input type="text" class="form-control full-width" data-ng-model="addPlaintiff.plaintiffInfo.guardianid"
                                data-ng-model-options="{ debounce: 500 }" placeholder="enter name" typeahead="row as row.name for row in addPlaintiff.getContacts($viewValue,'GUARDIAN')"
                                typeahead-template-url="matter/matter-details/insaurance/contact-tpl.html"
                                typeahead-input-formatter="addPlaintiff.formatTypeaheadDisplay($model)">
                        </div>
                        <div class="add-now-wrap">
                            <span class="or-connector">OR</span>
                            <button class="btn btn-default" data-ng-click="addPlaintiff.addNewContact('GUARDIAN')">Add
                                New</button>
                        </div>
                    </div>
                </form>
                <div class="col-md-6 row-minheight"></div>
            </div>
        </div>
    </div>
    <!--student-->
    <div class="clearfix">

        <div class="collapsee-head">
            <input type="checkbox" data-ng-model="addPlaintiff.plaintiffInfo.isstudent" />
            <a>
                <label>Plaintiff is a Student</label>
            </a>
        </div>
        <div id="studInfo" collapse="!addPlaintiff.plaintiffInfo.isstudent" class="col-md-12 margin-top10px">
            <div class="row">
                <form>
                    <div class="col-md-8">
                        <div class=" col-md-7">
                            <label>School Information: Institute Name</label>
                            <input type="text" data-ng-model="addPlaintiff.plaintiffInfo.studentinstitutionid"
                                data-ng-model-options="{ debounce: 500 }" placeholder="enter name" typeahead="row as row.name for row in addPlaintiff.getContacts($viewValue,'SCHOOL')"
                                typeahead-input-formatter="addPlaintiff.formatTypeaheadDisplay($model)"
                                typeahead-template-url="matter/matter-details/insaurance/contact-tpl.html" class="form-control">
                        </div>
                        <div class="add-now-wrap">
                            <span class="or-connector">OR</span>
                            <button class="btn btn-default" data-ng-click="addPlaintiff.addNewContact('SCHOOL')">Add
                                New</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="row">
                <div class="col-md-8  margin-top10px">
                    <div class="col-md-7">
                        <label>Program</label>
                        <input type="text" data-ng-model="addPlaintiff.plaintiffInfo.studentprogram" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  margin-top10px">
                    <div class="  col-md-7">
                        <label>Days Absent</label>
                        <input type="text" data-ng-model="addPlaintiff.plaintiffInfo.studentlostdays" class="form-control"
                            numeric-only>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--employee-->
    <div class="clearfix">
        <div class="collapsee-head">
            <input type="checkbox" data-ng-model="addPlaintiff.plaintiffInfo.isemployed" />
            <a>
                <label>Plaintiff is Employed</label>
            </a>
        </div>
        <div id="empInfo" collapse="!addPlaintiff.plaintiffInfo.isemployed" class="col-md-12 margin-top10px">
            <div class="row padding-top-10px">
                <button class="btn btn-default" data-ng-click="addPlaintiff.addNewEmployer()">{{(addPlaintiff.plaintiffInfo.employerid
                    && addPlaintiff.plaintiffInfo.employerid.length > 0) ? "Add another Employer" : "Add Employer"}}</button>
            </div>
            <div class="container">
                <div class="row margin-top10px plaintiffInfo" ng-repeat="emp in addPlaintiff.plaintiffInfo.employerid">

                    <div class="row display-block">
                        <div class="checkbox col-md-6 mt-auto">
                            <div ng-if="emp.iscurrent">
                                <input type="checkbox" ng-disabled="true" data-ng-model="emp.iscurrent"
                                    data-ng-true-value="'1'" data-ng-false-value="'0'">
                                <label>Current Employer</label>
                            </div>

                        </div>
                        <div class="search-overlap col-md-6">
                            <ul class="showBy-btns pull-right">
                                <li>
                                    <a data-ng-click="addPlaintiff.addNewEmployer(emp, $index)">
                                        <span class="sprite default-edit " tooltip-placement="left" tooltip="Edit"></span>
                                    </a>
                                </li>
                                <li>
                                    <a data-ng-click="addPlaintiff.deleteSelectedEmp(emp, $index)">
                                        <span class="sprite default-delete" tooltip-placement="left" tooltip="Delete"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row display-block">

                        <div class="col-md-4 vertical-space-group">
                            <div class="row-fluid">
                                <div class="col-md-4 text-right ">Employer:</div>
                                <div class="col-md-8 cursor-pointer" data-ng-click="addPlaintiff.openContactCard(emp.contactid)">
                                    <strong class="saved-search-link"> {{emp.contactid.firstname}}
                                        {{emp.contactid.lastname}}</strong>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">Phone (Work):</div>
                                <div class="col-md-8">
                                    {{emp.contactid.phone_work}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">Phone (Home):</div>
                                <div class="col-md-8">
                                    {{emp.contactid.phone_home}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">Phone (Cell):</div>
                                <div class="col-md-8">
                                    {{emp.contactid.phone_cell}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">Email:</div>
                                <div class="col-md-8">
                                    {{emp.contactid.emailid}}
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">Address:</div>
                                <div class="col-md-8" ng-bind-html="emp.contactid.streetCityStateZip">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-3 text-right">Note:</div>
                                <div class="col-md-9" ng-bind-html="emp.contactid.contact_note">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 vertical-space-group">
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">
                                    Salary Mode:
                                </div>
                                <div class="col-md-8">
                                    <strong>{{emp.salarymode}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">
                                    {{emp.salarymode}} Salary:
                                </div>
                                <div class="col-md-8">
                                    <strong>{{emp.monthlysalary|currency}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid ">
                                <div class="col-md-4 text-right">
                                    Days Lost:
                                </div>
                                <div class="col-md-8">
                                    <strong> {{emp.lostdays}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid ">
                                <div class="col-md-4 text-right">
                                    Employment History:
                                </div>
                                <div class="col-md-8">
                                    <!--<pre> {{plaintiff.memo}}</pre>-->
                                    <pre class="emp-memo">
                                                                                {{emp.memo}}</pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 vertical-space-group">
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">
                                    Occupation:
                                </div>
                                <div class="col-md-8">
                                    <strong>{{emp.occupation}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-4 text-right">
                                    Position:
                                </div>
                                <div class="col-md-8">
                                    <strong>{{emp.position}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid ">
                                <div class="col-md-4 text-right">
                                    Start Date:
                                </div>
                                <div class="col-md-8">
                                    <strong> {{emp.employmentstartdate}}</strong>
                                </div>
                            </div>
                            <div class="row-fluid ">
                                <div class="col-md-4 text-right">
                                    End Date:
                                </div>
                                <div class="col-md-8">
                                    <strong> {{emp.employmentenddate}}</strong>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>