<div class="referral-wrapper">
  <!-- <div class="reply-msg">
      <h2>Dear {{referralPrg.loggedInUserName}},
      </h2>
      <p>

        Thanks to loyal clients like you, we’ve grown tremendously over the past few years. Whether you’ve told a
        colleague about us, given us a like on Facebook, or written a Capterra review, we sincerely appreciate your
        support.
      </p>
      <p>
        As we look to expand even more this year, we’d like to formally invite you to join our referral program where
        you
        can earn referral bonuses toward your CloudLex® subscription. We would like to offer you $250 
        toward your subscription for every referral who completes a qualifying demo of CloudLex and 
        $500 toward your subscription for every referral who signs up for CloudLex.
      </p>
      <p>
        It gives us immense pride to have worked with you and your firm and we sincerely appreciate your vote of
        confidence. We look forward to serving your colleagues with the Next-Gen Legal Cloud®.

      </p>
      <h4>
        Best,
      </h4>
      <h4>
        The CloudLex Team</h4>
    </div>
    <div class="invite-box">

      <div class="invite-top">
        <div class="big-mail-box">
          <img class="mail-box" src="../styles/images/client-referral-big.svg">
        </div>
        <div class="mail-box-txt">
          <h2>Invite your colleagues to join CloudLex!</h2>
        </div>
      </div>
      <div class="bottom-card">
        <div class="referral-card">
          <h2>$250<sup>*</sup></h2>
          <p>for every firm who completes a qualifying demo</p>
        </div>

        <div class="referral-card pluse-img">
          <img src="../styles/images/plus-icon.svg" alt="plus icon">
        </div>
        <div class="referral-card">
          <h2>$500<sup>*</sup></h2>
          <p>when they <br>
            sign up</p>
        </div>
        <div class="refferal-bottom">
          <p>*Your available credit will be applied to your CloudLex subscription. </p>
          <button type="button" class="btn refer-btn" data-ng-click="referralPrg.openReferralForm()">Refer Now!</button>

        </div>
      </div>
    </div> -->
  <div class="referal-work">
    <h2>How does the CloudLex Referral Program work?</h2>
    <div class="main-work-card">
      <div class="work-card">

        <div class="work-number work-number-one">
          1
        </div>
        <img src="../styles/images/how-it-works.svg">
        <p>Click on ‘Refer Now’ and enter your colleague’s contact details. You may enter more than one referral by
          re-submitting the form.
        </p>
      </div>

      <div class="work-card">
        <div class="work-number work-two">
          2
        </div>
        <img src="../styles/images/how-to-work-2.svg">
        <p>Your colleague will get an email and our team will connect with <br> them.
        </p>
      </div>
      <div class="work-card">
        <div class="work-number work-three">
          3
        </div>
        <img src="../styles/images/how-it-works-3.svg">
        <p>
          Your firm will be rewarded for all completed demos and sign-ups.
        </p>
      </div>
    </div>
    <button type="button" class="btn refer-btn big-btn" ng-click="referralPrg.openReferralForm()">Refer Now!</button>
    <div class="bottom-work">
      <h5>Terms & Conditions</h5>
      <ul>
        <li>The CloudLex Referral Program allows existing clients to earn promotional credits toward their CloudLex
          subscription by referring fellow personal injury firms to become new CloudLex clients.</li>
        <li>To be eligible for the offer: All demos must be scheduled within one month of the referral date.
          Referred firms must sign up for CloudLex within 3 months of their demo date.</li>
        <li>Your Referral Credits will be applied to your CloudLex subscription.</li>
        <li>Credits are non-transferable, non-assignable, and cannot be redeemed or exchanged for cash, check, debit or
          credit cards.</li>
        <li>In case if different employees of a firm refer the same firm, then it will be considered as one firm
          referral only.</li>
        <li>Referrers will be notified by email when credits have been earned.</li>
        <li>Credits will be applied to your upcoming CloudLex subscription payment.</li>
        <li>Limited time offer. CloudLex reserves the right to terminate and/or modify this offer at any time without
          prior notice.</li>
        <li>Referrals should only be used for personal and non-commercial purposes. Referral links should not be
          published or distributed on commercial websites or on blogs. Users are prohibited from “spamming” anyone with
          referral invitations.</li>
      </ul>
    </div>
  </div>

</div>