.document-list-wrapper {
	.compose-wrap { height: 89%;
}
.custom-dropdown {
	min-width: 205px;
}
.custom-morelink {
	overflow: hidden;
	position: fixed;
	width: 100%;
	bottom: 60px;
}
.intake-box {
	margin: 0;
	position: relative;
}
.tooltip-text .tooltip{
	left: auto !important;
}
}